<h1>プラン作成</h1>

<% if @plan.errors.present? %>
  <% @plan.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_with model: @plan, local: true do |f| %>
  <div>
    <%= f.label :area %>
    <%= f.select :area, { 北海道: "北海道", 東北: "東北", 甲信越: "甲信越", 関東: "関東", 東海: "東海", 北陸: "北陸", 関西: "関西", 山陰山陽: "山陰山陽", 四国: "四国", 九州: "九州", 沖縄: "沖縄" },
                      prompt: "目的地を選択してください" %>
  </div>
  <% n = 0 %>
  <%= f.fields_for :places do |place_f| %>
    <h3>経由地<%= n += 1 %></h3>
    <div>
      <%= place_f.label :name %>
      <%= place_f.text_field :name %>
    </div>
    <div>
      <%= place_f.label :image %>
      <%= place_f.file_field :image %>
    </div>
    <div>
      <%= place_f.label :explanation %>
      <%= place_f.text_area :explanation %>
    </div>
    <% if @plan.persisted? %>
      <%= place_f.check_box :_destroy %>
      <%= place_f.label :_destroy, "削除" %>
    <% end %>
  <% end %>
  <div>
    <%= f.label :impression %>
    <%= f.text_area :impression %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :published %>
    <%= f.check_box :published, {}, true, false %>
  </div>
  <%= f.submit nil %>
<% end %>